<<<<<<< HEAD
<h1>Importar Estoques (I)</h1>

<div class="page-header">
  <form action="/estoques/importar" enctype='multipart/form-data' method="post">
    <div style="clear:both">
      <dt>Importar Estoques (CSV):</dt>
      <dd><input type="file" class="form-control" name="arquivo" style="clear:both"/></dd>
      <br>
      <input type="submit" value="Importar" class="btn btn-primary">
    </div>
  </form>
</div>
=======
<h1>Importar Estoques</h1>
>>>>>>> 8f4050440f764d6c3d9d2ce87de10cef0530d076

<div class="page-header">
  <form action="/estoques/importar" enctype='multipart/form-data' method="post">
    <div style="clear:both">
      <dt>Importar Estoques (CSV):</dt>
      <dd><input type="file" class="form-control" name="arquivo" style="clear:both"/></dd>
      <br>
      <input type="submit" value="Importar" class="btn btn-primary">
    </div>
  </form>
</div>
