<h1>Importar Produtos (I)</h1>

<div class="page-header">
  <form action="/produtos/importar" enctype='multipart/form-data' method="post">
    <div style="clear:both">
      <dt>Importar Produtos (CSV):</dt>
      <dd><input type="file" class="form-control" name="arquivo" style="clear:both"/></dd>
      <br>
      <input type="submit" value="Importar" class="btn btn-primary">
    </div>
  </form>
</div>

