<h1>Importar Estoques/Lotes</h1>

<div class="page-header">
  <form action="/importar_estoque/importar_arquivo" enctype='multipart/form-data' method="post">
    <div style="clear:both">
      <dt>Importar Estoques/Lotes (CSV):</dt>
      <dd><input type="file" class="form-control" name="arquivo" style="clear:both"/></dd>
      <br>
      <input type="submit" value="Importar" class="btn btn-primary">
    </div>
  </form>
</div>