<h1>Notas Fiscais</h1>

<div class="page-header">
  <%= link_to nota_fiscais_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @nota_fiscal, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h2>Alteração</h2>
</div>

<%= render 'form' %>
