<div class="page-header">
  <%= link_to estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h2>Reposição de Estoque</h2>
</div>

<%= render "form" %>