<div class="page-header">
  <%= link_to nota_fiscal_nota_fiscal_itens_path(@nota_fiscal), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to nota_fiscal_nota_fiscal_item_path(@nota_fiscal, @nota_fiscal_item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editar nota_fiscal_item</h1>
</div>

<%= render 'form' %>
