<div class="page-header">
  <a class="btn btn-default" href="javascript:history.back()">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>
  <h2>Nota Fiscal (Itens)</h2>
</div>

<%= render 'form' %>
