<div class="page-header">
  <a class="btn btn-default" href="javascript:history.back()">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>
  <h1>Emissão de Notas Fiscais</h1>
</div>

<%= render 'form' %>
