<div class="page-header">
  <%= link_to orcamento_itens_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h2>Orçamento (Itens)</h2>
</div>

<%= render 'form' %>
