<div class="page-header">
  <%= link_to contas_pagar_parcelas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo contas_pagar_parcela</h1>
</div>

<%= render 'form' %>
