<h1>Alíquotas ICMS</h1>

<div class="page-header">
  <%= link_to icms_index_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Inclusão</h1>
</div>

<%= render 'form' %>
