<!DOCTYPE html>
<html>
  <head>
    <title>Viver Saúde PDF</title>
    <meta charset="utf-8">
  </head> 
  <body>
    <p>
      <h1>ORÇAMENTO Nº <%= @orcamento.id %>  </h1>
    </p>

    <p>
      <strong>ORÇAMENTO Nº </strong>
      <%= @orcamento.id %>
    </p>
  </body>
</html>

