<div class="page-header">
  <%= link_to estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  
  <h1>Baixa de Estoque</h1>
</div>

<%= render "form" %>