<div class="page-header">
  <%= link_to localizacao_estoques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @localizacao_estoque, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing localizacao_estoque</h1>
</div>

<%= render 'form' %>
