<h2>Contas a Receber</h2>

<div class="page-header">
  <%= link_to contas_rec_index_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h2>Inclusão</h2>
</div>

<%= render 'form' %>
