<h2>Importar Fornecedores (I)</h2>

<div class="page-header">
  <form action="/fornecedores/importar" enctype='multipart/form-data' method="post">
    <div style="clear:both">
      <dt>Importar Fornecedores (CSV):</dt>
      <dd><input type="file" class="form-control" name="arquivo" style="clear:both"/></dd>
      <br>
      <input type="submit" value="Importar" class="btn btn-primary">
    </div>
  </form>
</div>
