<div class="page-header">
  <%= link_to new_nota_fiscal_nota_fiscal_item_path(@nota_fiscal), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Desdobramento das Duplicatas</h1>
</div>

<%= render 'form' %>
