<h1>Plano de Contas</h1>

<div class="page-header">
  <%= link_to plano_contas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @plano_conta, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h2>Alteração</h2>
</div>

<%= render 'form' %>
