<div class="page-header">
  <%= link_to plano_contas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo plano_conta</h1>
</div>

<%= render 'form' %>
