<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Viver Saúde", "/", class: "navbar-brand" %>
    </div>  
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" style="float: right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/icms">ICMS</a></li>
              <li><a href="/cfop">CFOP</a></li>
              <li><a href="/clientes">Clientes</a></li>
              <li><a href="/produtos">Produtos</a></li>
              <li><a href="/terceiros">Terceiros</a></li>
              <li><a href="/vendedores">Vendedores</a></li>
              <li><a href="/fornecedores">Fornecedores</a></li>
              <li><a href="/localizacao_estoques">Local Estoques</a></li>
              <li><a href="/transportadoras">Transportadoras</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estoques <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/estoques">Lista</a></li>
              <li><a href="/estoques/reposicao">Reposição</a></li>
              <li><a href="/estoques/ajuste">Ajuste</a></li>
              <li><a href="javascript:window.location.assign('/estoques/baixa')">Baixa</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faturamento <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/orcamentos">Orçamentos</a></li>
              <li><a href="/financeiro">Pedidos</a></li>
              <li><a href="/nota_fiscais">Notas Fiscais</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/contas_pag">Contas a Pagar</a></li>
              <li><a href="/contas_rec">Contas a Receber</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compras <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/contas_pag">Pedido de Compras</a></li>
            </ul>
          </li>        
         
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/contas_pag">Relatório</a></li>
              <li><a href="/contas_rec">Relatório</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Importação <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/importacoes/fornecedores">Fornecedores</a></li>
            <li><a href="/importacoes/clientes">Clientes</a></li>
            <li><a href="/importacoes/produtos">Produtos</a></li>
            <li><a href="/importacoes/estoques">Estoques/Lotes</a></li>
            </ul>
          </li>

          <li><a href="/sair">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>